# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Builds/VisualStudio2019/.vs/DrumMachine/v16/.suo
Builds/VisualStudio2019/.vs/DrumMachine/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/DrumMachine/v16/Browse.VC.db-shm
Builds/VisualStudio2019/.vs/DrumMachine/v16/Browse.VC.db-wal
Builds/VisualStudio2019/.vs/DrumMachine/v16/Browse.VC.opendb
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/5fbf91d4fdc33223/WEBGUI.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/6f84199ee95c5a1c/MAINCOMPONENT.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/7d8a71fc0414783f/MAIN.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/91e5cdc9459b1c57/JUCE_CORE.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/b4e2632bc4f1d14f/INCLUDE_JUCE_AUDIO_DEVICES.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/d6c10cac93c7eed9/INCLUDE_JUCE_AUDIO_BASICS.ipch
Builds/VisualStudio2019/.vs/DrumMachine/v16/ipch/AutoPCH/e52b29c10c3f667e/INCLUDE_JUCE_CORE.ipch
Builds/VisualStudio2019/x64/Debug/App/DrumMachine.exe.recipe
Builds/VisualStudio2019/x64/Debug/App/DrumMachine.pdb
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.log
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/DrumMachine_App.lastbuildstate
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/App/DrumMachine_App.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/App/resources.res
Builds/VisualStudio2022/DrumMachine.sln
Builds/VisualStudio2022/DrumMachine_App.vcxproj
Builds/VisualStudio2022/DrumMachine_App.vcxproj.filters
Builds/VisualStudio2022/resources.rc
